name: CI

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          skip: ./.git
#          ignore_words_list: AtLeast,AtMost
  lint:
    name: Lint with Super-Linter
    runs-on: ubuntu-latest
    permissions:
      contents: read
#      packages: read
      # To report GitHub Actions status checks
      statuses: write
    steps:
      - uses: actions/checkout@v5
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0
          persist-credentials: false
      - name: Super-linter
        uses: super-linter/super-linter@v8.3.0
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
